<div class="row">
  <div class="col-md-8">
    <h3>Posts List </h3>


    <table class="table table-striped border table-responsive" *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>City</th>
          <th>Phone</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{ post.id }}</td>
          <td>{{ post.name }}</td>
          <td>{{ post.username }}</td>
          <td>{{ post.email }}</td>
          <td>{{ post.address.city }}</td>
          <td>{{ post.phone }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>

</div>
